<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mpay" />
    <meta name="keywords" content="mpay" />
    <meta name="author" content="mpay" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>mPay App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="mpay" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- header start -->
    <header class="section-t-space">
        <div class="custom-container">
            <div class="header-panel">
                <a href="component.html" class="back-btn">
                    <i class="icon" data-feather="arrow-left"></i>
                </a>
                <h2>Button</h2>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- elements accordion starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <ul class="element-list">
                <li>
                    <div class="app-title w-100 mb-3">
                        <h2>Theme Button</h2>
                    </div>
                </li>

                <li>
                    <button type="button" class="btn theme-btn ">Button-1</button>

                    <button type="button" target="_blank" class="btn gray-btn ">Button-2</button>

                    <button type="button" class="btn btn-link ">Button-3</button>
                </li>

                <li>
                    <div class="app-title w-100 mt-4 mb-3">
                        <h2>Solid Button</h2>
                    </div>
                </li>

                <li>
                    <button type="button" class="btn theme-btn">Button-1</button>

                    <button type="button" target="_blank" class="btn gray-btn ">Button-2</button>
                </li>

                <li>
                    <h3 class="dark-text mt-2 mb-2 fw-semibold">Other Button</h2>
                </li>
                <li>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                </li>


                <li>
                    <div class="app-title w-100 mt-4 mb-3">
                        <h2>Outline Button</h2>
                    </div>
                </li>

                <li>
                    <button type="button" class="btn theme-outline-btn">Button-1</button>
                    <button type="button" target="_blank" class="btn gray-outline-btn">Button-2</button>
                </li>
                </li>

                <li>
                <li>
                    <h3 class="dark-text mt-2 mb-2 fw-semibold">Other Button</h2>
                </li>
                <li>
                    <button type="button" class="btn  btn-outline-primary">Primary</button>
                    <button type="button" class="btn  btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn  btn-outline-success">Success</button>
                    <button type="button" class="btn  btn-outline-danger">Danger</button>
                    <button type="button" class="btn  btn-outline-warning">Warning</button>
                    <button type="button" class="btn  btn-outline-info">Info</button>
                    <button type="button" class="btn  btn-outline-dark">Dark</button>

                <li>
                    <div class="app-title w-100 mt-4 mb-3">
                        <h2>Large Button</h2>
                    </div>
                </li>

                <li>
                    <button type="button" class="btn theme-btn  btn-lg">Button-1</button>
                    <button type="button" target="_blank" class="btn gray-btn  btn-lg">Button-2</button>
                </li>

                <li>
                    <div class="app-title w-100 mt-4 mb-3">
                        <h2>Small Button</h2>
                    </div>
                </li>

                <li>
                    <button type="button" class="btn theme-btn  p-1 btn-sm">Button-1</button>
                    <button type="button" target="_blank" class="btn gray-btn  p-1 btn-sm">Button-2</button>
                </li>
            </ul>
        </div>
    </section>


    <!-- feather js -->
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/custom-feather.js"></script>

    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- script js -->
    <script src="assets/js/script.js"></script>
</body>

</html>