<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mpay" />
    <meta name="keywords" content="mpay" />
    <meta name="author" content="mpay" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>mPay App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="mpay" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/iconsax.css" />


    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <header class="section-t-space">
        <div class="custom-container">
            <div class="header-panel">
                <a href="component.html" class="back-btn">
                    <i class="icon" data-feather="arrow-left"></i>
                </a>
                <h2>Dropdown</h2>
            </div>
        </div>
    </header>

    <!-- dropdown section starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="app-title mb-3">
                <h2>Basic Dropdown</h2>
            </div>

            <div class="dropdown element-dropdown">
                <a class="btn theme-btn dropdown-toggle  mt-0" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown link
                </a>

                <ul class="dropdown-menu">
                    <li class="d-inline-block w-100"><a class="dropdown-item" href="#">Item-1</a></li>
                    <li class="d-inline-block w-100"><a class="dropdown-item" href="#">Item-2</a></li>
                    <li class="d-inline-block w-100"><a class="dropdown-item" href="#">Item-3</a></li>
                </ul>
            </div>

            <div class="app-title mt-5 mb-3">
                <h2>Image Dropdown</h2>
            </div>

            <div class="dropdown element-dropdown">
                <a class="btn theme-btn dropdown-toggle mt-0" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown link
                </a>

                <ul class="dropdown-menu">
                    <li class="d-flex gap-2 w-100">
                        <a class="dropdown-item"><img class="img-fluid currency-icon"
                                src="assets/images/svg/ethereum.svg" alt="ethereum" /> ETH</a>
                    </li>
                    <li class="d-flex gap-2 w-100">
                        <a class="dropdown-item"><img class="img-fluid currency-icon"
                                src="assets/images/svg/bitcoins.svg" alt="bitcoins" /> BTC</a>
                    </li>
                    <li class="d-flex gap-2 w-100">
                        <a class="dropdown-item"><img class="img-fluid currency-icon"
                                src="assets/images/svg/litecoin.svg" alt="ethereum" /> LTC</a>
                    </li>
                    <li class="d-flex gap-2 w-100">
                        <a class="dropdown-item"><img class="img-fluid currency-icon"
                                src="assets/images/svg/binance.svg" alt="ethereum" /> BNB</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- feather js -->
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/custom-feather.js"></script>


    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- script js -->
    <script src="assets/js/script.js"></script>
</body>

</html>