<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mpay" />
    <meta name="keywords" content="mpay" />
    <meta name="author" content="mpay" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>mPay App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="mpay" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- header start -->
    <header class="section-t-space">
        <div class="custom-container">
            <div class="header-panel">
                <a href="component.html" class="back-btn">
                    <i class="icon" data-feather="arrow-left"></i>
                </a>
                <h2>Bottom Menu</h2>
            </div>
        </div>
    </header>

    <!-- bottom menu section starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="title mb-3">
                <h2>Theme</h2>
            </div>
            <div class="navbar-menu elements-navbar position-relative mt-5">
                <div class="scanner-bg">
                    <div class="scanner-btn">
                        <img class="img-fluid" src="assets/images/svg/scan.svg" alt="scan" />
                    </div>
                </div>

                <ul>
                    <li class="active">
                        <a href="landing.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/mpay.svg" alt="mPay" />
                                <img class="active" src="assets/images/svg/mpay-fill.svg" alt="mPay" />
                            </div>
                            <h5 class="active">mPay</h5>
                        </a>
                    </li>

                    <li>
                        <a href="crypto.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bitcoin.svg" alt="categories" />
                                <img class="active" src="assets/images/svg/bitcoin-fill.svg" alt="categories" />
                            </div>
                            <h5>Crypto</h5>
                        </a>
                    </li>
                    <li></li>
                    <li>
                        <a href="insight.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bar-chart.svg" alt="bag" />
                                <img class="active" src="assets/images/svg/bar-chart-fill.svg" alt="bag" />
                            </div>
                            <h5>Insight</h5>
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/user.svg" alt="profile" />
                                <img class="active" src="assets/images/svg/user-fill.svg" alt="profile" />
                            </div>
                            <h5>Profile</h5>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="title mt-5 mb-3">
                <h2>Basic</h2>
            </div>
            <div class="navbar-menu elements-navbar position-relative">
                <ul>
                    <li class="active">
                        <a href="landing.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/mpay.svg" alt="mPay" />
                                <img class="active" src="assets/images/svg/mpay-fill.svg" alt="mPay" />
                            </div>
                            <h5 class="active">mPay</h5>
                        </a>
                    </li>

                    <li>
                        <a href="crypto.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bitcoin.svg" alt="categories" />
                                <img class="active" src="assets/images/svg/bitcoin-fill.svg" alt="categories" />
                            </div>
                            <h5>Crypto</h5>
                        </a>
                    </li>

                    <li>
                        <a href="insight.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bar-chart.svg" alt="bag" />
                                <img class="active" src="assets/images/svg/bar-chart-fill.svg" alt="bag" />
                            </div>
                            <h5>Insight</h5>
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/user.svg" alt="profile" />
                                <img class="active" src="assets/images/svg/user-fill.svg" alt="profile" />
                            </div>
                            <h5>Profile</h5>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="title mt-5 mb-3">
                <h2>Only Icon </h2>
            </div>
            <div class="navbar-menu elements-navbar position-relative">
                <div class="scanner-bg">
                    <div class="scanner-btn">
                        <img class="img-fluid" src="assets/images/svg/scan.svg" alt="scan" />
                    </div>
                </div>
                <ul>
                    <li class="active">
                        <a href="landing.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/mpay.svg" alt="mPay" />
                                <img class="active" src="assets/images/svg/mpay-fill.svg" alt="mPay" />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="crypto.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bitcoin.svg" alt="categories" />
                                <img class="active" src="assets/images/svg/bitcoin-fill.svg" alt="categories" />
                            </div>
                        </a>
                    </li>

                    <li></li>

                    <li>
                        <a href="insight.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bar-chart.svg" alt="bag" />
                                <img class="active" src="assets/images/svg/bar-chart-fill.svg" alt="bag" />
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/user.svg" alt="profile" />
                                <img class="active" src="assets/images/svg/user-fill.svg" alt="profile" />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="title mt-5 mb-3">
                <h2>Without Highlight </h2>
            </div>
            <div class="navbar-menu elements-navbar without-hightight position-relative">
                <div class="scanner-bg">
                    <div class="scanner-btn">
                        <img class="img-fluid" src="assets/images/svg/scan.svg" alt="scan" />
                    </div>
                </div>
                <ul>
                    <li class="active">
                        <a href="landing.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/mpay.svg" alt="mPay" />
                                <img class="active" src="assets/images/svg/mpay-fill.svg" alt="mPay" />
                            </div>
                            <h5 class="active">mPay</h5>
                        </a>
                    </li>

                    <li>
                        <a href="crypto.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bitcoin.svg" alt="categories" />
                                <img class="active" src="assets/images/svg/bitcoin-fill.svg" alt="categories" />
                            </div>
                            <h5>Crypto</h5>
                        </a>
                    </li>

                    <li></li>

                    <li>
                        <a href="insight.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/bar-chart.svg" alt="bag" />
                                <img class="active" src="assets/images/svg/bar-chart-fill.svg" alt="bag" />
                            </div>
                            <h5>Insight</h5>
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <div class="icon">
                                <img class="unactive" src="assets/images/svg/user.svg" alt="profile" />
                                <img class="active" src="assets/images/svg/user-fill.svg" alt="profile" />
                            </div>
                            <h5>Profile</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- bottom menu section end -->

    <!-- feather js -->
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/custom-feather.js"></script>

    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- script js -->
    <script src="assets/js/script.js"></script>
</body>

</html>