<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ReFi" />
    <meta name="keywords" content="ReFi" />
    <meta name="author" content="ReFi" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>ReFi App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="ReFi" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/iconsax.css" />


    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <header class="section-t-space">
        <div class="custom-container">
            <div class="header-panel">
                <a href="component.html" class="back-btn">
                    <i class="icon" data-feather="arrow-left"></i>
                </a>
                <h2>Typography</h2>
            </div>
        </div>
    </header>

    <!-- typography section starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="app-title mt-4">
                <h2>Font Size</h2>
            </div>

            <ul class="element-list">
                <li class="dark-text pt-3">
                    <h1 class="dark-text">H1 - Heading 1</h1>
                </li>
                <li class="dark-text pt-3">
                    <h2 class="dark-text">H2 - Heading 2</h2>
                </li>
                <li class="dark-text pt-3">
                    <h3 class="dark-text">H3 - Heading 3</h3>
                </li>
                <li class="dark-text pt-3">
                    <h4 class="dark-text">H4 - Heading 4</h4>
                </li>
                <li class="dark-text pt-3">
                    <h5 class="dark-text">H5 - Heading 5</h5>
                </li>
            </ul>

            <div class="app-title mt-4 ">
                <h2>Font Weight</h2>
            </div>

            <ul class="element-list">
                <li class="dark-text fs-5 pt-3 fw-bolder">
                    Font-Weight - 800
                </li>
                <li class="dark-text fs-5 pt-3 fw-bold">
                    Font-Weight - 700
                </li>
                <li class="dark-text fs-5 pt-3 fw-semibold">
                    Font-Weight - 600
                </li>
                <li class="dark-text fs-5 pt-3 fw-medium">
                    Font-Weight - 500
                </li>
                <li class="dark-text fs-5 pt-3 fw-normal">
                    Font-Weight - 400
                </li>
                <li class="dark-text fs-5 pt-3 fw-light">
                    Font-Weight - 300
                </li>
            </ul>

            <div class="app-title mt-4 ">
                <h2>Contrasts</h2>
            </div>

            <ul class="element-list">
                <li class="dark-text fs-5 pt-3 text-opacity-100">
                    Text-opacity - 100%
                </li>
                <li class="dark-text fs-5 pt-3 text-opacity-75">
                    Text-opacity - 75%
                </li>
                <li class="dark-text fs-5 pt-3 text-opacity-50">
                    Text-opacity - 50%
                </li>
                <li class="dark-text fs-5 pt-3 text-opacity-25">
                    Text-opacity - 25%
                </li>
            </ul>

            <div class="app-title mt-4 ">
                <h2>Inline text</h2>
            </div>

            <ul class="element-list">
                <li class="dark-text fs-5 pt-3">
                    This line is the mark tag to <mark class="theme-bg text-white">highlight</mark> text.
                </li>
                <li class="dark-text fs-5 pt-3">
                    <del>This statement should be treated as deleted text.</del>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <s>This statement should be treated as no longer accurate.</s>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <ins>This statement should be treated as an addition to the document.</ins>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <u>This statement should be treated as underlined.</u>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <small>This statement should be treated as fine print.</small>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <strong>This statement should be treated as bold text.</strong>
                </li>
                <li class="dark-text fs-5 pt-3">
                    <em>This statement should be treated as italicized text.</em>
                </li>
            </ul>
        </div>
    </section>
    <!-- typography section end -->

    <!-- feather js -->
    <script src=" assets/js/feather.min.js"> </script>
    <script src="assets/js/custom-feather.js"></script>

    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- script js -->
    <script src="assets/js/script.js"></script>
</body>

</html>