<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="mpay" />
  <meta name="keywords" content="mpay" />
  <meta name="author" content="mpay" />
  <link rel="manifest" href="./manifest.json" />
  <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
  <title>mPay App</title>
  <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
  <meta name="theme-color" content="#122636" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="mpay" />
  <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

  <!-- bootstrap css -->
  <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

  <!-- swiper css -->
  <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body class="auth-body">
  <!-- header starts -->
  <div class="auth-header">
    <div class="help-head d-flex">
      <a href="profile.html"> <i class="back-btn" data-feather="arrow-left"></i> </a>
      <h2>Help Center</h2>
    </div>
    <div class="head-img text-center">
      <img class="img-fluid img2" src="assets/images/authentication/help.svg" alt="v1" />
    </div>
  </div>
  <!-- header end -->

  <!-- help section start -->
  <form class="auth-form" target="_blank">
    <div class="custom-container">
      <div class="help-center">
        <h2 class="fw-semibold">What issues are you facing?</h2>
        <div class="accordion accordion-flush help-accordion" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne">What is a PWA Template</button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">A PWA (Progressive Web App) template is a pre-designed starting point or
                framework that helps developers build Progressive Web Applications more efficiently. A PWA is a type
                of web application that combines the features of a website and a mobile app, providing a native-like
                experience to users across different devices and platforms.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo">What is Cryptocurrency</button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Cryptocurrency, often referred to as crypto, is a digital or virtual form of
                currency that uses cryptography for security and operates independently of a central bank.
                Cryptocurrencies leverage blockchain technology, a decentralized ledger system, to record transactions
                and control the creation of new units.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">How to
                make a payment through Crypto?</button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                To make a payment through cryptocurrency, you'll generally need the following steps:

                <ul>
                  <li>Choose a Cryptocurrency: Decide which cryptocurrency you want to use for the payment. Bitcoin
                    (BTC) is the most widely accepted, but other popular options include Ethereum (ETH), Litecoin
                    (LTC), and Ripple (XRP), among others.</li>

                  <li>Choose a Wallet: Select a digital wallet that supports the cryptocurrency you're using. Wallets
                    can be software-based (mobile or desktop apps) or hardware devices specifically designed for
                    cryptocurrency storage.</li>

                  <li>Initiate the Transaction: Open your chosen wallet and find the option to send or transfer funds.
                    Enter the recipient's wallet address and the payment amount.</li>

                  <li>Confirm Transaction Details: Some wallets may ask you to review the transaction details and
                    confirm once again. This step ensures you're sending the correct amount to the right recipient.
                  </li>

                  <li>Pay Transaction Fees: Cryptocurrency transactions often incur fees, which can vary depending on
                    the network congestion and the chosen cryptocurrency. The wallet will typically provide an option
                    to adjust the fee or choose from preset options. Higher fees generally result in faster
                    confirmations.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour">How to utilize coin in cryptocurrency</button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>Choose a Wallet: Select a digital wallet that supports the specific coin you want to utilize.
                  </li>
                  <li>Obtain the Coin: You need to acquire the coin through a cryptocurrency exchange or a
                    peer-to-peer transaction.</li>
                  <li>Store the Coin: Once you have obtained the coin, transfer it to your chosen wallet.</li>
                  <li>Secure your Wallet: It's crucial to keep your wallet secure to protect your coins.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive">How will the money be transferred to my wallet?</button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>Bank Transfer: If your wallet is linked to your bank account, you can typically transfer money
                    from your bank account directly to your wallet.</li>
                  <li>Credit/Debit Card: Many wallet services allow you to add funds to your wallet using a credit or
                    debit card.</li>
                  <li>Mobile Payment Apps: Some wallets are integrated with popular mobile payment apps like Paytm,
                    Google pay, PayPal, Apple Pay.</li>
                  <li>Cryptocurrency Transfer: If your wallet supports cryptocurrencies, you can receive funds by
                    providing the sender with your wallet address or QR code.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- help section end -->

  <!-- feather js -->
  <script src="assets/js/feather.min.js"></script>
  <script src="assets/js/custom-feather.js"></script>

  <!-- bootstrap js -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <!-- script js -->
  <script src="assets/js/script.js"></script>
</body>

</html>