<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="mpay" />
    <meta name="keywords" content="mpay" />
    <meta name="author" content="mpay" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>mPay App</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="mpay" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- header start -->
    <header class="section-t-space">
        <div class="custom-container">
            <div class="header-panel">
                <a href="landing.html" class="back-btn">
                    <i class="icon" data-feather="arrow-left"></i>
                </a>
                <h2>Page List</h2>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- page listing starts -->
    <section class="section-b-space">
        <div class="custom-container">
            <div class="app-title">
                <h2>mPay App</h2>
            </div>

            <div class="accordion page-accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne">
                            1. Splash & Onboarding Pages
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="index.html">Onboarding Page
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo">
                            2. Authentication Pages
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="signin.html">Sign in
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="signup.html">Sign up
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="forgot-password.html">Forgot Password
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="otp.html">OTP
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="reset-password.html">Reset Password
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="successfully-signin.html">Successfully Signin
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="successfully-signup.html">Successfully Signup
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="personal-identity.html">Personal Identity
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="confirm-identity.html">Confirm Identity
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="add-card-details.html">Add Card Details
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="add-card.html">Add Card
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="add-card-pin.html">Add Card Pin <img class="img-fluid arrow"
                                            src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false">
                            3. Home, Notification, Add money Pages
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="landing.html">mPay Home Page
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="service.html">Service
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="scan-pay.html">Scan & Pay Money
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="pay-money.html">Pay Money
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="pay-select-card.html">Pay Select Card
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="pay-successfully.html">Pay Successfully
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="notification.html">Notification
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="receive-money.html">Receive Money
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            4. Categories Pages
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="transfer.html">Transfer
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="transfer-person.html">Transfer Person
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="transfer-pay-person.html">Transfer Pay Person
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="search.html">Search Person
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="view-transaction.html">View Person Transaction
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="chatting.html">Chatting
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="transaction-history.html">Transaction History
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="view-transaction.html">View Transaction History
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="bill.html">Bill
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="make-payment.html">Make Payment
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="request.html">Request
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="request-person.html">Request Person
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="withdraw.html">Withdraw
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="cards.html">Cards
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="saving-plans.html">Saving Plans
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="news-update.html">News Update
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="news-update-details.html">News Update Details
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            5. Insight Pages
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="insight.html">Insight
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            6. Profile Pages
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="profile.html">Profile
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="my-account.html">My Account
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="setting.html">Setting
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="change-password.html">Change Password
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="change-new-password.html">Change New Password
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="help.html">Help Center
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-title">
                <h2>Cryptocurrency App</h2>
            </div>

            <div class="accordion page-accordion accordion-flush" id="accordionFlushExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven">
                            All Screens
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="crypto.html">Crypto Home
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-send.html">Crypto Send
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-request.html">Crypto Request
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-withdraw.html">Crypto Withdraw
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="coin-details.html">Coin Details
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="my-portfolio.html">My portfolio
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-transaction.html">Crypto Transaction
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-view-transaction.html">Crypto View Transaction
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="crypto-exchange.html">Crypto Exchange
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-title">
                <h2>Other Pages</h2>
            </div>

            <div class="accordion page-accordion accordion-flush" id="accordionFlushExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEight">
                            Pages
                        </button>
                    </h2>
                    <div id="flush-collapseEight" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="page-list">
                                <li class="pages">
                                    <a href="empty-notification.html">Empty Notification Page
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="no-internet.html">No Internet Page
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                                <li class="pages">
                                    <a href="component.html">Components
                                        <img class="img-fluid arrow" src="assets/images/svg/arrow.svg" alt="arrow">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page listing end -->

    <!-- feather js -->
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/custom-feather.js"></script>

    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- script js -->
    <script src="assets/js/script.js"></script>
</body>

</html>