<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="mpay" />
  <meta name="keywords" content="mpay" />
  <meta name="author" content="mpay" />
  <link rel="manifest" href="./manifest.json" />
  <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
  <title>mPay App</title>
  <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
  <meta name="theme-color" content="#122636" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="mpay" />
  <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

  <!-- bootstrap css -->
  <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

  <!-- swiper css -->
  <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <a href="transfer.html" class="back-btn">
          <i class="icon" data-feather="arrow-left"></i>
        </a>
        <h2>Request money</h2>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- request-list starts -->
  <section>
    <div class="title">
      <div class="custom-container">
        <h2>Request money to</h2>
      </div>
    </div>
    <ul class="transfer-list add-transfer-person">
      <li class="w-100">
        <div class="transfer-person transfer-box">
          <div class="transfer-img">
            <img class="img-fluid icon" src="assets/images/person/p1.png" alt="p1" />
          </div>
          <div class="transfer-details">
            <div>
              <h5 class="fw-semibold dark-text">Mike Williams</h5>
              <h6 class="fw-normal light-text mt-2">**** **** **** 8856</h6>
            </div>
            <div class="dropdown">
              <a href="#" role="button" data-bs-toggle="dropdown">
                <i class="icon dark-text" data-feather="more-vertical"></i>
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item w-100" href="transfer-pay-person.html">Change person</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!-- request-list end -->

  <!-- request details section start -->
  <section class="section-b-space">
    <div class="custom-container">
      <form class="auth-form p-0" target="_blank">
        <div class="form-group">
          <label for="inputmessage" class="form-label">Message</label>
          <div class="form-input">
            <textarea class="form-control" id="inputmessage" rows="3" placeholder="Write here"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="inputamount1" class="form-label">Amount</label>
          <input type="text" class="form-control" id="inputamount1" />
        </div>

        <ul class="amount-list">
          <li>
            <div class="amount">$50</div>
          </li>
          <li>
            <div class="amount">$100</div>
          </li>
          <li>
            <div class="amount">$200</div>
          </li>
        </ul>
        <a href="#done" class="btn theme-btn w-100" data-bs-toggle="modal">Transfer</a>
      </form>
    </div>
  </section>
  <!-- request details section end -->

  <!-- successful request modal start -->
  <div class="modal successful-modal fade" id="done" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Successfully Transfer</h2>
        </div>
        <div class="modal-body">
          <div class="done-img">
            <img class="img-fluid" src="assets/images/svg/done.svg" alt="done" />
          </div>
          <h2>$49.85</h2>
          <h3><span class="theme-color">Diane</span> has got an application for money.</h3>
          <a href="landing.html" class="btn theme-btn successfully w-100">Back to home</a>
        </div>
        <button type="button" class="btn close-btn" data-bs-dismiss="modal">
          <i class="icon" data-feather="x"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- successful request modal end -->

  <!-- feather js -->
  <script src="assets/js/feather.min.js"></script>
  <script src="assets/js/custom-feather.js"></script>

  <!-- bootstrap js -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <!-- script js -->
  <script src="assets/js/script.js"></script>
</body>

</html>