<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="mpay" />
  <meta name="keywords" content="mpay" />
  <meta name="author" content="mpay" />
  <link rel="manifest" href="./manifest.json" />
  <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
  <title>mPay App</title>
  <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
  <meta name="theme-color" content="#122636" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="mpay" />
  <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet" />

  <!-- bootstrap css -->
  <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />

  <!-- swiper css -->
  <link rel="stylesheet" type="text/css" href="assets/css/vendors/swiper-bundle.min.css" />

  <!-- Theme css -->
  <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
</head>

<body>
  <!-- header start -->
  <header class="section-t-space">
    <div class="custom-container">
      <div class="header-panel">
        <a href="transfer-person.html" class="back-btn">
          <i class="icon" data-feather="arrow-left"></i>
        </a>
        <h2>Payee list</h2>
        <a href="search.html" class="back-btn">
          <i class="icon" data-feather="search"></i>
        </a>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- person list section starts -->
  <section class="section-b-space">
    <div class="custom-container">
      <ul class="transfer-list">
        <li class="w-100">
          <div class="transfer-box">
            <div class="transfer-img">
              <img class="img-fluid icon" src="assets/images/person/p1.png" alt="p1" />
            </div>
            <div class="transfer-details">
              <div>
                <a href="transfer-person.html">
                  <h5 class="fw-semibold dark-text">Mike Williams</h5>
                </a>
                <h6 class="fw-normal light-text mt-2">**** **** **** 1256</h6>
              </div>
              <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                  <i class="icon dark-text" data-feather="more-vertical"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item w-100" href="person-transaction.html">View transaction</a></li>
                  <li><a class="dropdown-item w-100" href="chatting.html">Message</a></li>
                  <li><a class="dropdown-item w-100" href="request-person.html">Request money</a></li>
                  <li><a class="dropdown-item w-100" href="#">Pay money</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="w-100">
          <div class="transfer-box">
            <div class="transfer-img">
              <img class="img-fluid icon" src="assets/images/person/p2.png" alt="p2" />
            </div>
            <div class="transfer-details">
              <div>
                <a href="transfer-person.html">
                  <h5 class="fw-semibold dark-text">Mike Williams</h5>
                </a>
                <h6 class="fw-normal light-text mt-2">**** **** **** 8856</h6>
              </div>
              <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                  <i class="icon dark-text" data-feather="more-vertical"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item w-100" href="person-transaction.html">View transaction</a></li>
                  <li><a class="dropdown-item w-100" href="chatting.html">Message</a></li>
                  <li><a class="dropdown-item w-100" href="request-person.html">Request money</a></li>
                  <li><a class="dropdown-item w-100" href="#">Pay money</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="w-100">
          <div class="transfer-box">
            <div class="transfer-img">
              <img class="img-fluid icon" src="assets/images/person/p3.png" alt="p3" />
            </div>
            <div class="transfer-details">
              <div>
                <a href="transfer-person.html">
                  <h5 class="fw-semibold dark-text">Christina Howard</h5>
                </a>
                <h6 class="fw-normal light-text mt-2">**** **** **** 1565</h6>
              </div>
              <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                  <i class="icon dark-text" data-feather="more-vertical"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item w-100" href="person-transaction.html">View transaction</a></li>
                  <li><a class="dropdown-item w-100" href="chatting.html">Message</a></li>
                  <li><a class="dropdown-item w-100" href="request-person.html">Request money</a></li>
                  <li><a class="dropdown-item w-100" href="#">Pay money</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="w-100">
          <div class="transfer-box">
            <div class="transfer-img">
              <img class="img-fluid icon" src="assets/images/person/p4.png" alt="p4" />
            </div>
            <div class="transfer-details">
              <div>
                <a href="transfer-person.html">
                  <h5 class="fw-semibold dark-text">Peter Thornton</h5>
                </a>
                <h6 class="fw-normal light-text mt-2">**** **** **** 1456</h6>
              </div>
              <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                  <i class="icon dark-text" data-feather="more-vertical"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item w-100" href="person-transaction.html">View transaction</a></li>
                  <li><a class="dropdown-item w-100" href="chatting.html">Message</a></li>
                  <li><a class="dropdown-item w-100" href="request-person.html">Request money</a></li>
                  <li><a class="dropdown-item w-100" href="#">Pay money</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="w-100">
          <div class="transfer-box">
            <div class="transfer-img">
              <img class="img-fluid icon" src="assets/images/person/p5.png" alt="p5" />
            </div>
            <div class="transfer-details">
              <div>
                <a href="transfer-person.html">
                  <h5 class="fw-semibold dark-text">John Coats</h5>
                </a>
                <h6 class="fw-normal light-text mt-2">**** **** **** 7596</h6>
              </div>
              <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                  <i class="icon dark-text" data-feather="more-vertical"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item w-100" href="person-transaction.html">View transaction</a></li>
                  <li><a class="dropdown-item w-100" href="chatting.html">Message</a></li>
                  <li><a class="dropdown-item w-100" href="request-person.html">Request money</a></li>
                  <li><a class="dropdown-item w-100" href="#">Pay money</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- person list section end -->

  <!-- feather js -->
  <script src="assets/js/feather.min.js"></script>
  <script src="assets/js/custom-feather.js"></script>

  <!-- bootstrap js -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>

  <!-- script js -->
  <script src="assets/js/script.js"></script>
</body>

</html>